{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bookcategoory</title>
</head>
<body>
<div class="w960" id="cart" style="">
    <ul class="shopping_title" id="j_carttitle">
        <li class="f1"><a id="j_selectall" href="javascript:void(0)" class="checknow fn-checkall check_on" dd_name="全选">选中</a>全选</li>
        <li class="f2">商品信息</li>
        <li class="f3">单价（元）</li>
        <li class="f4">数量</li>
        <li class="f4">金额（元）</li>
        <li class="f5">操作</li>
    </ul>
    <div class="fn-shops" id="J_cartContent"><div class="fn-shop">
        <table border="0" cellspacing="0" cellpadding="0" class="shop_title">
            <tbody>
            <tr>
                <td><a href="javascript:void(0)" dd_name="选中店铺" class="checknow fn-shop-checkall check_on">选中</a></td>
                <td><span class="shop_icon"></span></td>
                <td><a href="http://www.dangdang.com" target="_blank">当当自营</a></td>
                <td></td> <td></td> </tr>
            </tbody></table>
        <div class="shopping_list"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody data-stock="22388" data-offline="false" data-productid="24147882" data-timestamp="1484488454000" data-orderforspupormo="0">
             {% for i in car_inf.car_item %}
            <tr id="tr_424893864" class="  ">
                <td class="row1"> <a href="javascript:void(0)" data-item="424893864" class="fn-product-check checknow check_on">选中</a> </td>
                <td class="row_img"> <a href="{% url 'bookshow:bookdetails' %}?id={{ i.book.id }}" target="_blank" dd_name="查看详情"> <img onmouseout="$(this).parent().next().hide()" onmouseover="$(this).parent().next().show()" src="{% static i.book.pic %}" width="80" height="80"> </a> <div style="display: none;" class="img_big"><a href="http://product.dangdang.com/24147882.html" dd_name="查看详情" target="_blank"><img src="{% static i.book.pic %}" width="200px" height="200px"></a><span class="arrow"></span></div> </td>
                <td class="row_name"> <div class="name"> <a href="http://product.dangdang.com/24147882.html" title="跟乐嘉学性格色彩2（乐嘉2017年全新力作）" target="_blank" dd_name="查看详情" style="word-break:break-all;  word-wrap:break-word;">{{ i.book.content_val }}</a></div>      </td>
                <td class="row3"><span>￥<span id="spn_b">{{ i.book.dangdang_price }}</span></span></td>
                <td data-minbuy="0" class="fn-count-tip row3 ">
                    <span class="amount fn-updatecount " data-value="1">
                        <a dd_name="减少数量" href="javascript:void(0)" class="odd_a">-</a>
                        <input data-value="1" value="{{ i.number }}" type="text" class="inp_a" oninput="value=value.replace(/[^\d]/g,'')" min="1" maxlength="3">
                        <a dd_name="增加数量" href="javascript:void(0)" class="add_a">+</a>
                        <input type="hidden" value="{{ i.book.id }}" class="i_id">
                        <input type="hidden" value="{{ i.book.real_price }}" class="real_p">
                    </span>
                </td>
                <td ><span style="color: red">￥<span id="spn_a" class="spn_a">{% widthratio i.book.dangdang_price 1 i.number %}</span></span></td>
                <td class="row5 "><span><a href="javascript:void(0)" data-item="424893864" class="fn-add-wish" dd_name="加入收藏按钮">移入收藏</a></span><span><br><a href="javascript:void(0)" data-item="424893864" class="fn-remove-product" dd_name="删除普通品">删除</a></span></td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot><tr class="total"> <td class="row1">&nbsp;</td> <td class="row_img">店铺合计</td> <td colspan="2">&nbsp;</td> <td colspan="3" class="row4"><span class="red big ooline alignright">¥<span id="spn_c"></span></span></td> </tr></tfoot></table></div><div class="shipping_add" style="display:none;"></div></div></div>
    <div class="shoppingcart_loading" id="J_cartLoading" style="display: none;"><img height="30" width="30" src="{% static 'images/loading.gif' %}"></div>
</div>
<div class="w960" id="weipinboxarea" style="display: none"><div class="login_tip"><span class="icon"></span>购物车中有<a id="weipinhui" href="http://v.dangdang.com" class="icon_eve weipin" style="display: none;">尾品汇</a><a id="zuizhidang" href="http://z.dangdang.com" class="icon_eve zhidang" style="display: none;">z值当</a>商品，请在<span class="time" id="J_limitedMinute"></span><span class="time" id="J_limitedSecond"></span>内结算.<a herf="javascript:;" class="more fn-vnewz-tips">了解限时结算&gt;&gt;</a></div></div>
<div id="hide_div" style="height:0px;visibility:hidden;"></div>
<div style="position:static;bottom:-20px;z-index: 101;width:100%;left:0px;">
  <div class="shopping_total" id="J_totalMoneyBlock" style="">
    <div class="shopping_total_right">
        <a class="total_btn fn-checkout" href="{% url 'order:show_order' %}" id="checkout_btn" dd_name="结算">结&nbsp;&nbsp;算</a>
            <div class="subtotal">
            <p><span class="cartsum">总计(不含运费)：</span>￥<span id="payAmount" class="price">{{ car_inf.all_price }}</span></p>
            <p><span class="cartsum">已节省：</span>￥<span id="totalFavor">{{ car_inf.save_price }}</span></p>
            </div>
        <div class="pop_del pop_ebook fn-ck" id="ck_tip" style="display:none">
			<h1>电子书重复购买提示</h1>
			<p></p>
			<a id="ck_link" href="#" class="pop_btn">朕知道了</a>
		</div>
    </div>
    <div class="shopping_total_left" id="J_leftBar">
        <a id="j_selectall2" href="javascript:void(0)" class="checknow fn-checkall check_on" dd_name="全选">选中</a>全选
        <a id="j_removeproducts" href="javascript:void(0)" class="fn-batch-remove" dd_name="批量删除按钮">批量删除</a>
        <span>已选择<font color="red">{{ car_inf.car_item | length }}</font>件商品</span>
        <div id="J_batchRemoveProductBox" style="display: none;z-index:-1;left:0px;" class="pop_del"><p>您确定要批量删除商品吗？</p><a href="javascript:;" class="pop_btn fn-confirm-batchremovebox">确定</a><a href="javascript:;" class="pop_btn fn-close-batchremovebox">取消</a></div>
        <div id="J_batchAddWishBox" style="display: none;z-index:-1;left:85px;" class="pop_del col "><p>您确定要批量移入收藏吗？</p><a href="javascript:;" class="pop_btn fn-confirm-batchaddwish">确定</a><a href="javascript:;" class="pop_btn fn-close-batchwishbox">取消</a></div>
    </div>
  </div>
</div>
</body>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script>
    a = {{ flag }}
    b={{ car_inf.car_item }}
    console.log(typeof a,a)
    console.log(b,typeof b)
    if (a===1) {
        $('#cart').attr('style', '')
        $('#district').attr('style', '')
        $('#J_totalMoneyBlock').attr('style', '')
        $('#empty').attr('style', 'display:none')
        $('#J_removeProductBox').attr('style', 'float: left;display:block')
    } else {
        $('#cart').attr('style', 'display:none')
        $('#district').attr('style', 'display:none')
        $('#J_totalMoneyBlock').attr('style', 'display:none')
        $('#empty').attr('style', '')
    }
</script>
<script>
    var num=0
    $('.spn_a').each(function () {
        num+=Number($(this).html())
    })
    $('#spn_c').html(num)
</script>
{#============书籍数量增加和减少==========#}
<script>
{#  ------------增加----------  #}
    $('.add_a').each(function (i) {
        $(this).click(function () {
            console.log('触发了')
            var num=$(this).prev().val()
            var num_w=Number(num)+1
            $(this).prev().val(num_w)
            var sum=$(this).parent().parent().prev().children().children().html()
            console.log(sum)
            sum=Number(sum)*Number($(this).prev().val())
            console.log(sum)
            $(this).parent().parent().next().children().children().html(sum)
          {#--------------后端处理请求----------  #}
            $.ajax({
                type:'get',
                url:'{% url "shop_car:a_d_u_car" %}',
                data:'number='+$(this).prev().val()+'&id='+$(this).next().val()+'&flag=3',
                success:function (res) {
                    console.log(res)
                }
            })
        })
    })
{#  -----------减少----------  #}
       $('.odd_a').each(function (i) {
        $(this).click(function () {
            console.log('触发了')
            var num=$(this).next().val()
            console.log(num)
            if (num==='1'){
                $(this).attr('disabled',true)
            }else {
                var num_w=Number(num)-1
                console.log(num_w)
                $(this).next().val(num_w)
                var sum=$(this).parent().parent().prev().children().children().html()
                sum=Number(sum)*Number($(this).next().val())
                console.log(sum)
                $(this).parent().parent().next().children().children().html(sum)
                {#  --------------后端处理请求----------  #}
                $.ajax({
                    type:'get',
                    url:'{% url "shop_car:a_d_u_car" %}',
                    data:'number='+$(this).next().val()+'&id='+$(this).next().next().next().val()+'&flag=3',
                    success:function (res) {
                        console.log(res)
                    }
                })
            }
        })
    })
{#==================总数统计事件===============#}
  $('#J_cartContent').click(function () {
      var sums=0
      var reals=0
      $('.spn_a').each(function () {
          sums+=Number($(this).html())
      })
      $('.real_p').each(function () {
          reals+=Number($(this).val())*Number($(this).prev().prev().prev().val())
      })
      $('#payAmount').html(sums)
      $('#spn_c').html(sums)
      $('#totalFavor').html(reals-sums)
  })
</script>
{#================删除事件请求=============#}
<script>
    $('.fn-remove-product').each(function () {
        $(this).click(function () {
           var y=confirm('您确认要删除该商品吗？')
            if (y) {
                $(this).parent().parent().parent().remove()
                $.ajax({
                type:'get',
                url:'{% url "shop_car:re_dellogic" %}',
                data:'id='+($(this).parent().parent().prev().prev().children().children('.i_id').val())+'&number='+($(this).parent().parent().prev().prev().children().children('.inp_a').val()),
                success:function (res) {
                    if (res){
                        $('#show_shop').load('{% url "shop_car:show_shop" %}')
                        $('#del_shop').load('{% url "shop_car:re_del" %}')
                    }
                }
            })
            }
        })
    })
</script>
<script>
    $('.inp_a').blur(function () {
        if ($(this).val()===''){
            $(this).val('1')
        }
    })
</script>
</html>